<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex flex-row bd-highlight">
      <a class="navbar-brand h1" href="#" style="padding: 1rem">Home</a>
      <a class="nav-link disabled h4" style="padding-top: 0.8rem">Posts</a>
      <a class="nav-link disabled h4" style="padding-top: 0.8rem">Products</a>
      <a class="nav-link disabled h4" style="padding-top: 0.8rem">Comments</a>
    </div>
  </nav>
  <div class="mb-3">
  <div class="row">
    <div class="col">
      <app-capitalize-first-letter></app-capitalize-first-letter>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<router-outlet></router-outlet>
